
<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width", initial-scale="1">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="js/jquery.csv.js"></script>
  <script src="js/papaparse.js"></script>
  <link rel="stylesheet" href="assets/style.css">


  <script src="js/chartkick.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.js"></script>
  <script src="//maps.google.com/maps/api/js?key=AIzaSyAZ9vuaQp47M3iLaj3L6kg6sy-d9PI-76Q" type="text/javascript"></script>

    <script>
     $(function() {
        $('#navbar li').click(function() {
           $('#navbar li').removeClass();
           console.log("in")
           $($(this).addClass('active'));
        });
     });

     var shiftWindow = function() { scrollBy(0, -60) };
    if (location.hash) shiftWindow();
      window.addEventListener("hashchange", shiftWindow);
  </script>

  <title>London Soundscapes</title>

</head>

<body>
  <nav class="navbar navbar-default navbar-fixed-top active">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">

          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <img class="navbar-brand" src="assets/favicon/iconmonstr-microphone-4.svg" width="50" height="50" alt="microphone image">
        <a class="navbar-brand" href="index.html">London Soundscapes</a>
      </div>

      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li>
            <a href="index.html">Map view</a>
          </li>
          <li>
            <a href="about.html">About</a>
          </li>
          <li>
            <a href="about.html#links">Links</a>
          </li>
          <li>
            <a href="about.html#team">Team</a>
          </li>
        </ul>
        <!-- <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="/">Contact</a>
          </li>
        </ul> -->
      </div>
    </div>
  </nav>

  {% block body %}
  {% endblock %}

</body>

</html>
