{% extends "_base.html" %}
{% block body %}

<link rel="stylesheet" href="assets/style.css">
<div class="container">
  <div id="container-fluid">
  <h1>Ecoacoustics of London</h1>
  <p>
    Lorem ipsum dolor sit amet, eum ne fastidii noluisse, an usu audire prompta impedit. An pri dictas integre corrumpit. Ei quo delenit pericula evertitur. Eos cu odio timeam, qui eu summo ignota accusamus. Quo et vero ferri deserunt. Ea has maiestatis liberavisse necessitatibus, sea eu mollis iriure delicata, sed cu essent civibus mediocritatem. Ad consulatu efficiendi quo, pri eu meis mediocritatem.
  </p>

  <p>
Epicuri inimicus iracundia qui id, paulo vulputate constituam id nec. Graeci dicunt ad vis, ne accumsan delectus vis. Ne decore epicurei adipiscing duo, sed erant dolorem reprehendunt te. No eos inermis lucilius incorrupte, ipsum novum his cu. In noster vocent qualisque pri, adhuc equidem dolorem eu eos, at partem accusata pro. Nec modus dicit commune ut. Alii eleifend forensibus nam no, detraxit senserit splendide qui an.
  </p>

  <div class="alert alert-success" id="myalert">
<div class="row">
  <div class="col-sm-7">
      <img src="assets/zoomin3.png" class="img-thumbnail" alt="Cinque Terre">
      <!-- width="350" height="236" -->
  </div>
  <div class="col-sm-4">
    <p>We made a map. Click here to look at it</p>
      <button type="button" class="btn btn-default btn-lg">View map<i class="glyphicon glyphicon-triangle-right"></i></button>

  </div>
  </div>
</div>
<!-- <div class="row">
  <div class="col-sm">col-sm</div>
  <div class="col-sm">col-sm</div>
  <div class="col-sm">col-sm</div>
</div> -->
  <p>

Eum ne tollit tractatos, partem dictas pertinacia qui cu, at mea agam tractatos. Eos sumo iusto tibique te. Vel mucius labore et, est ne gubergren neglegentur. Nam malorum moderatius ut. Ex eum autem splendide, quo fuisset conceptam elaboraret ut.
  </p>

  <p>

Id mea nominavi molestiae, et atqui atomorum consectetuer qui. Cum te laudem percipit abhorreant. Oblique labitur erroribus mel ea, ad ubique mentitum sed. Tale cibo te eum, cum delenit ceteros eu. Mei et quidam platonem, laboramus constituam vis in.
  </p>

  <p>

Cu per clita atomorum. Eam ea apeirian imperdiet. Dolore aeterno eos in. Mea in soleat assueverit, vel id odio viderer fabellas, case commune his eu.
</p>

<h2>Team</h2>

</div>
</div>

{% endblock %}
