{% extends "_base.html" %}
{% block body %}

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="modal-title" id="main-modal-title">Bethnal Green Nature Reserve</h3>
      </div>
      <div class="modal-body">

        <h4>Time of day predictions</h4>
        <div id="minute-data" style="height: 300px;"></div>
        <script id="line_chart">
          var data = [{"data": {"0000-00-00T06:00:00.000Z": "0.620196"}, "name": "biotic"}];
          var options = {
              discrete: true,
              points: false,
              xtitle: "Time of day",
              ytitle: "Average audio response",
              colors: ["#1b9e77", "#d95f02"],
          };
          new Chartkick.LineChart("minute-data", data, options);
        </script>
        <hr>

        <h4>Sample audio</h4>
        <audio controls id="audio" >
          <source id="audio_source" src="assets/sites/audio/CM167NP-3527_20150912_053000.wav" type="audio/wav">
          Your browser does not support the audio element.
        </audio>

        <h4>Site Information</h4>
        <p id="site-information">Information about this site. Copied from their site: The Phytology medicinal field is situated within the north west corner of the Bethnal Green Nature Reserve. The area’s rural past is now invisible through most of the borough. The Bethnal Green Nature Reserve is a rare example of a place where it is still possible to have a sense of continued history</p>

        <div class="row">
          <div class="col-sm-6">.<img id="site_image"  width="100%"></div>
          <div class="col-sm-6">.<div id="map_inset"></div></div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div id="over_map">
  Hello
</div>

<div id="map"></div>

<div class="container" id="panel_container">
  <div class="row">
    <!-- <div class="col-sm-2"></div> -->
    <div class="col-sm-8 col-sm-offset-4">
      <div class="panel panel-default">
        <!-- <div class="panel-heading"> <strong class="">Select Location</strong>
      	</div> -->

				<div class="panel-body">
          <p>Results of the algorithm. Click on a marker to get the information about that site.</p>
          <!-- <h3>Legend</h3> -->
          <p>
           The heights of the bars on the markers show the average measured sound level at that site:
          </p>
          <p><b>
          <a href="">[?]</a>&nbsp; Biotic &rArr; &nbsp;
          <img src="assets/sites/charts/E140EY.png" width=30px></img>

          &nbsp;  &lArr; Anthropogenic <a href="">[?]</a>&nbsp;
        </b>
        </p>
          <!-- <p><a href="http://bootply.com" class="btn btn-primary btn-lg">Learn More <i class="glyphicon glyphicon-chevron-right"></i></a> -->
          </p>
      	</div>
      </div>
    </div>
  </div>
</div>


<!-- <script async defer
src="https://maps.googleapis.com/maps/api/js?callback=initMap">
</script> -->



{% endblock %}
