{% extends "_base.html" %}
{% block body %}

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="modal-title" id="main-modal-title">Bethnal Green Nature Reserve</h3>
      </div>
      <div class="modal-body">

        <h4>Time of day predictions</h4>
        <div id="minute-data" style="height: 300px;"></div>
        <script id="line_chart">
          var data = [{"data": {"0000-00-00T06:00:00.000Z": "0.620196"}, "name": "biotic"}];
          var options = {
              discrete: true,
              points: false,
              xtitle: "Time of day",
              ytitle: "Average audio response",
              colors: ["#1b9e77", "#d95f02"],
          };
          new Chartkick.LineChart("minute-data", data, options);
          console.log("loaded")
        </script>
        <hr>

        <h4>Sample audio</h4>
        <audio controls id="audio" >
          <source id="audio_source" src="assets/sites/audio/CM167NP-3527_20150912_053000.wav" type="audio/wav">
          Your browser does not support the audio element.
        </audio>

        <h4>Site Information</h4>
        <p id="site-information">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>

        <div class="row">
          <div class="col-md-5"><img id="site_image" width="100%"></div>
          <div class="col-md-5"><div id="map_inset"></div></div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div id="map"></div>

<div class="container" id="panel_container">
  <div class="row">
     <!-- class="col-sm-8 col-sm-offset-4"> -->
    <div>
      <div class="panel panel-default" id="info-panel">
        <div class="panel-heading" id="panel-heading">
          <h3 class="panel-title"><b>Legend</b></h3>
          <span class="pull-right clickable">
            &nbsp;<emph id="showhide">Hide</emph> &nbsp;
            <i class="glyphicon glyphicon-chevron-down"></i>
          </span>
        </div>

				<div class="panel-body">

          <p>
           The heights of the bars show the average measured sound level:
          </p>
          <p><b>
          <a href="">[?]</a>&nbsp; Biotic &rArr; &nbsp;
          <img src="assets/sites/charts/E140EY.png" width=30px>

          &nbsp;  &lArr; Anthropogenic <a href="">[?]</a>&nbsp;
        </b>
        </p>
        <p>Click on a marker to get site information.</p>
          <!-- <p><a href="http://bootply.com" class="btn btn-primary btn-lg">Learn More <i class="glyphicon glyphicon-chevron-right"></i></a> -->
      	</div>
      </div>
    </div>
  </div>
</div>


<script async defer src="js/main.js">
</script>

<!-- <script src="js/main.js"></script> -->

{% endblock %}
