html {
  box-sizing: border-box;
}

body
{
  padding-top: 70px;
  font-size: 13pt;
}

h2 {
  margin-top: 45px;
}

#map{
  position: absolute;
  top: 0px;
  left: 0;
  bottom: 0px;
  right: 0;
}

#map_inset{
  position: relative;
  top: 0;
  left: 0;
  height: 350px;
  width: 100%;
}

#panel_container {
  position: fixed;
  width: 350px;
  left: calc(50% - 175px);
  bottom: 10px;
  opacity: 1;
  z-index: 99;
  text-align: center;
  font-size: 12pt;
}

.panel-heading span {
	margin-top: -20px;
	font-size: 15px;
}

.panel-heading {
	min-width: 100%;
}

.info-panel {
  min-width: 100%;
}

#container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 650px; /* or 950px */
}

.bigthumb{
  width: 650px;
  max-width: 100%;
  margin-bottom: 8px;
}

#myalert {
    /*color: #31708F; DEE6FA  5782BD*/
    /*http://paletton.com/#uid=13E0u0kaaUL00++54ZkeNNwiYCS*/
    background-color: #DEE6FA;
    border-color: #A9C6EE;
    color: #5782BD;
}

audio.audio-control
{
  width: 140px;
}
.table > tbody > tr > td {
     vertical-align: middle;
}

/* For the cards */

*, *:before, *:after {
  box-sizing: inherit;
}

.inner-container{
  width: 100%;
}

.column {
    width: 100%;
    margin-bottom: 16px;
    margin-top: 16px;
    padding: 0 8px;
}

/* Display the columns below each other instead of side by side on small screens */
@media (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}

/* Add some shadows to create a card effect */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding-top: 16px;
    padding-bottom: 8px;
}

.card h3 {
  margin-top: 0px;
}

/* Clear floats */
.label-container::after, .row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: grey;
}

.thumb{
  width: 150px;
  margin-bottom: 8px;
}

.tablerow{
  margin-top: 30px;
}

.toprow{
  font-weight: bold;
}
