#map{
  position: absolute;
  top: 0px;
  left: 0;
  bottom: 0px;
  right: 0;
}
#map_inset{
  position: relative;
  top: 0;
  left: 0;
  height: 350px;
  width: 100%;
}
#over_map {
  position: fixed;
  height: 40px;
  bottom: 30px;
  opacity: 1;
  left: 50%;
  margin-left: -125px;
  width: 250px;
  z-index: 99;
  background-color: white;
  text-align: center;
}
#panel_container {
  position: fixed;
  /*height: 40px;*/
  bottom: 10px;
  opacity: 1;
  /*left: 50%;*/
  /*margin-left: -125px;
  width: 250px;*/
  z-index: 99;
  /*background-color: white;*/
  text-align: center;
}
