pip install -r https://raw.githubusercontent.com/Lasagne/Lasagne/v0.1/requirements.txt
pip install Lasagne==0.1
pip install nolearn
pip install librosa
pip install git+git://github.com/mdfirman/ml_helpers.git@master
